.MainForm{
    width: auto;
    height: 100vh;
    background-color: rgb(5, 5, 155);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Forms{
    background-color: white;
    width: 30%;
    display: inline;
    align-items: center;
    justify-content: center;
    padding-left: 6.5%;
    height: 80vh;
    padding-top: 5%;
    border-radius: 2%;
}

.FormData{
    background-color: white;
}

/* table{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-style:solid;
    border-color: black;
    margin-bottom: 5%;
}
table tr{
    height: 40px;
    /* border: 1px solid black; */
    
} */

.newForm{
    text-decoration: none;
    border: none;
    /* width: 20%; */
    border-radius: 5px;
    color: white;
    background-color: rgb(7, 52, 197);
}